
*.class
.idea/
.idea
.classpath
.project


/bin/
/out/
/cmake-build-debug/
*.ser
*.iml
*.xml
*.o
*.exe


*.exe.stackdump
*.lst

*.stackdump
*.out
CMakeLists.txt
CMakeLists.txt
./cmake-building-debug
joe.hex

